header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
    color: #fff;
    padding: 0 32px;
    margin-bottom: 32px;
}

span{
    color: rgb(253, 253, 114);
}